.main-container-mockup4{
    margin-top: 5%;
}

.tabs-buttons{
    margin-bottom: 2%;
    text-align: left;
}

.tabs-container{
    display:flex;
    flex-direction: column;
    width: 30%;
}

.row-right-m4{
    padding-top: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 70%;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
    display:flex;
    align-items: flex-start;
    background-color: aliceblue;
    
}

.row-content-left-m4>h3{
    font-size: large;
    font-weight: bold;
}

.pf-info{
    font-weight: light;
    font-size: small;
}


.row-content-right-m4{
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-buttons{
    margin-top: 5%;
    display:flex;
    align-items: flex-end;
    justify-content: baseline;
}
.cancel-button{
    cursor: pointer ;
    margin-left: 2%;
    font-size: small;
}
