.container-footer{
    padding: 2%;
    background-image: url(../Footer/Images/Footer.PNG);
    background-size: cover;
    position: fixed;
    bottom: 0;
    width:100%;
    height: fit-content;
}

.footer-col-left-h1{
    color:white;
    font-size:x-large;
}

.footer-col{
    margin-top: 2%;
}

.m3-row-1{
    margin-top: 5%;
}

.footer-email-group{
    display:flex;
    margin-top: 5%;
    margin-left: none;
    max-width: fit-content;
}

.footer-email-form{
    margin-right: 3%;
}

.socialmedia-icons{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

#col-items-text{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-list-text{
    
    font-size: medium;
    font-weight: 400;
    color:white;
}

.copyright{
    margin-top: 3%;
    text-align: center;
}