.m10-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.m10-col{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    cursor: pointer;
    border-radius: 7px;
}

.m10-buttonTag{
    color: white;
}
